@charset "UTF-8";
html {
    font-size: 16px;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
    background-color: black;
    color: #FF0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

